<!--footer made with professor in class-->
<p style="font-size: smaller;">@Copyright COMP229- SEC 003  WINTER SEMESTER 2022 </p>
  <script src="jquery/dist/jquery.slim.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="javascripts/appclient.js"></script>
</body>
</html>