<!--about page for portfolio -->
<% include partials/header.ejs %>

<br>
<header>
  <h1 style="padding-left: 25px;">About Me</h1>
</header>
  <br><br>
  <h4 style="padding-left: 25px;">Syeda Fawal </h4>
  <img src="/images/image.jpg" alt="logo" style="width: 300px; align-content: center; padding-left: 25px;">

  <br><br><br>
  <!--Short para about me -->
  <h5 style="padding-left: 25px;"><b>Who am I?</b> </h5>
  <p style="padding-left: 25px;">My name is Syeda Fawal. I live in Toronto, Canada. I am currently in my 4th semester at centennial college for the program Software Engineering Technology. I work at a Long Term Care home in Scarborough helping the elderly navigate their daily life alongside nurses and psws. Some of my hobbies include: napping, reading, hiking and movies. I am the oldest of 4 siblings and love bossing the others around. I have 2 cats: Roma and Koya who are beautiful Russian Blue. </p>

  <h5 style="padding-left: 25px;"><b>Resume:</b> <a href="/public/images/Syeda_resume.pdf"  target="_blank">Click here!</a></h5>

  <br><br><br>
  <% include partials/footer.ejs %>