<% include partials/header.ejs %>

<br><br>
<h3>About Me</h3>
  <br><br><br>
  <center><h4>Syeda Fawal </h4>
  <img src="/images/image.jpg" alt="logo" style="width: 300px; align-content: center;">></center>

  <br><br><br>
  <h5><b>Who am I?</b> </h5>
  <p>My name is Syeda Fawal. I live in Toronto, Canada. I am currently in my 4th semester at centennial college for the program Software Engineering Technology. I work at a Long Term Care home in Scarborough helping the elderly navigate their daily life alongside nurses and psws. Some of my hobbies include: napping, reading, hiking and movies. I am the oldest of 4 siblings and love bossing the others around. I have 2 cats: Roma and Koya who are beautiful Russian Blue. </p>

  <h5><b>Resume</b> </h5>
  <a href="Syeda_resume.pdf">Click here for resume</a>

  <br><br><br>
  <% include partials/footer.ejs %>