<!--contact page for portfolio -->
<!--used https://www.w3schools.com/howto/howto_css_contact_form.asp as a reference to learn how to make a contact page.-->

<% include partials/header.ejs %>

<!--Styling for contact form-->
  <head>
    <style>
      body {
        font-family:Helvetica;
      }
      * {
        box-sizing: border-box;
      }
      input[type=text],
      select,
      textarea {
        width: 100%;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 20px;
      }
      input[type=submit] {
        background-color: #6f7977;
        color: #f3eded;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
      }
    
      .container {
        border-radius: 20px;
        background-color: #f3eded;
        padding: 12px;
      }
    </style>
  </head>
  <br><br>
  <body>
      <!--my contact info -->
    <center>
    <h5 style="padding-left: 25px;">Syeda Fawal </h5>
    <img src="/images/image.jpg" alt="logo" style="width: 120px; align-content: center; padding-left: 25px;">
    <p>
        Phone Number: 647-739-4218 <br>
        Email: Sfawal@my.centennialcollege.ca <br>
    </p></center>

    <!-- contact form -->
    <h2 style="padding-left: 80px;">Contact Form</h2>
    <div class="container">
      <form action="/form/submit" method="POST">

        <label for="labelname">Name</label>
        <input type="text" id="firstname" name="name">
        
        <label for="labelname">Last Name</label>
        <input type="text" id="lastname" name="lastname">
        
        <label for="labelname">E-mail Address</label>
        <input type="text" id="mail" name="e-mail">
        
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Type a message.." style="height:200px"></textarea>
        
        <a href="/home"> <input type ="submit"></a>
      </form>
    </div>
  </body>

<br><br><br>
  <% include partials/footer.ejs %>