<% include partials/header.ejs %>

  <br><br>
  <center>
<h3>Welcome to my Personal Portfolio </h3>
  <a class="nav-link active" href="/about">Click here to learn About Me!</a>
  <a class="nav-link active" href="/contact">Click here to Contact Me!</a>

  <br><br><br>
  <P style="color: red;"><b>Mission Statement:</b> </P>
  <p><i>"To always inspire and continue learning new things everyday"</i></p>

  <br>

  <P style="color: blueviolet;"><b>Goals:</b> </P>
  <p> - Internship at IBM</p>
  <p> - Graduate from Software Engineering Technology at Centennial College</p>
  <p> - Take a small vacation in the summer</p></center>

  <br><br><br><br><br>
  <% include partials/footer.ejs %>