<% include partials/header.ejs %>

  <br><br>
<h3>Project Highlights: </h3>
<br><br>
<P><b>Mobile App - RentOrLease Inc.</b> </P>
<p>   </p>

<P><b>Software Requirements Specifications (SRS) - Studentship</b> </P>
<p>  </p>

<P><b>Web Design - Real Estate</b> </P>
<p>    </p>


  <br><br><br><br><br>
  <% include partials/footer.ejs %>