<!--projects page for portfolio -->
<% include partials/header.ejs %>

    <main>
        <br><br>
        <div style="padding-left: 25px;">
        <h1>Project Highlights: </h1>
        <h4>Here are some past projects I have worked on</h4>
        <br><br>

        <!--3 porjects done -->
        <table>
            <tr>
                <td><img src="/images/rent.jpg.png" height="140px"></td>
                <td style="padding-left: 20px;">
                    <b>Mobile App - RentOrLease Inc. :</b><br>
                    Created an App called RentOrLease in which different types of homes could be selected, shortlisted with prices and payment collected. 
                <br>
                Role: App Designer
                </td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                
                <td><img src="/images/student.jpg" height="180px"></td>
                <td style="padding-left: 20px;">
                    <b>Software Requirements Specifications (SRS) - Studentship</b><br>
                    Created an App called RentOrLease in which different types of homes could be selected, shortlisted with prices and payment collected. 
                <br>
                Role:Team Lead
                </td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td><img src="/images/real.jpg" height="160px"></td>
                <td style="padding-left: 20px;">
                    <b>Web Design - Real Estate</b><br>
                    Created a website for a real estate agent with available homes listed.  
                <br>
                Role: Web Designer
                </td>
            </tr>
        </table>
        </div>
        <br><br><br>
    </main>
  <% include partials/footer.ejs %>