<% include partials/header.ejs %>

<br><br>
<div style="padding-left: 25px;">
<h1>Services </h1>
<h4>Here are some services I offer:</h4>
<br><br>
<table>
    <tr>
        <td><img src="/images/services.png" height="260px"></td>
        <td style="padding-left: 20px;">
             - Mobile Apps<br>
             - Personal Portfolio Website using ExpressJS<br>
             - Software Testing & Quality Assurance<br>
             - Database Development<br>
             - Web Application Development <br>
             - Java Programming<br>
             - Web Interface Desugb<br>
             - Data Structures and Algorithms<br>
             - Unix/Linux Operating Systems<br>
        <br>

        </td>
    </tr>
</table>
</div>
  <br><br><br>
  <% include partials/footer.ejs %>